		table {
			border-collapse: collapse;
			margin: 10px;


		}

		td, th {
			border: 3px solid black;
			text-align: center;
			height: 20px;

		}

		caption {
			font-size: 24px;
			font-weight: bold;
		}

		input {
			margin: 5px;
		}




		.broad {
			width: 200px;
		}

		.narrow {
			width: 70px;
		}

		.remove {
			width: 100%;
		}





		#graph, #path {
			float: left;
		} 

		#path {
			width: 500px;
		}

		#result, #help {
			margin: 15px;
			text-align: justify;
		}




		#addNode, #checkPath {
			width: 100%;
			display: block;
			margin: 5px auto 5px auto;
		}